:root{
    --dark-blue-color:rgb(0,0,139);
}
nav {
    background-color: var(--dark-blue-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
}
h1 {
    color:  var(--dark-blue-color);
}
/* cada palabra detras de la llave corresponde auna parte del html*/
main img {
    width:150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow:0 0 30px gray;
}
p{
    padding: 0;
}
main{
    max-width: 840px;
}
aside{
    width:20rem ;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2); 
    padding: 1rem;
    background-color:#eee ;
    color: #333;
    text-align: center;
}
aside img{
        width: 200px;
        height: auto;
}
footer{
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: center;
}